.button {
  border: 0;
  color: $color-white;
  display: inline-block; // in order for margin and padding to work
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

  &--login {
    background: linear-gradient(45deg,
    $color-primary 0%,
    $color-primary 50%,
    $color-secondary);
    background-size: 240%;
    border-radius: 3px;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: $m-size;
    padding: $m-size;
    transition: all 0.4s;

    @include respond(atSmallest) {
      font-size: 2rem;
    }

    @include respond(atSmaller) {
      font-size: 2.2rem;
    }
  }

  &--login:hover {
    background-position: 70%;
    box-shadow: -0.7rem 0.7rem 1.5rem rgba(#000, 0.2);
    transform: translateY(-3px); // when hover move up
  }

  &--login:active,
  &--login:focus {
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    outline: none;
    transform: translateY(-1px); // when active / focus move down a bit
  }

  &--add {
    @extend %button;
  }

  &--remove {
    @extend %button;
    background: #888;
  }

  &--logout {
    @extend %button;
    font-weight: 300;
  }

  &--logout:active,
  &--logout:focus {
    outline: none;
  }

  &--back {
    @extend %button;
  }
}
