.header {
  background: $color-primary;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include respond(atSmall) {
      flex-direction: row;
      padding: $s-size 0;
    }
  }
}
