.list-header {
  background: $color-off-white;
  border: 1px solid darken($color-off-white, 7%);
  color: $color-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;

  @include respond(atSmall) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($color-off-white, 7%);
  border-top: 0;
  color: $color-dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background 0.2s ease;

  @include respond(atSmall) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }

  &:hover {
    background: $color-off-white;
  }

  &__title {
    margin: 0;
    word-break: break-all;
  }

  &__sub-title {
    color: $color-grey;
    font-size: 1.4rem;
  }

  &__data {
    margin: $s-size 0 0 0;

    @include respond(atSmall) {
      margin: 0;
      padding-left: $s-size;
    }
  }

  &--message {
    align-items: center;
    color: $color-grey;
    justify-content: center;
    padding: $m-size;
  }

  &--message:hover {
    background: none;
  }
}
