{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ],
        "syntax-dynamic-import"
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ]
}
