// Colors
$color-primary: #484C91;
$color-secondary: #929BEF;
$color-tertiary: #6772A4;
$color-white: #FFF;
$color-grey: #666;
$color-dark-grey: #333333;
$color-light-grey: #cacccd;
$color-off-white: #f7f7f7;

// linear-gradient(45deg,#476892,#59355D)
// linear-gradient(45deg,#3D3949,#6772A4)
// linear-gradient(45deg,#30496B,#30B8D2)

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
