*,
*:not(img),
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5%
}

body {
  box-sizing: border-box;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}
